#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
  width: 600px;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.7s ease;
}
#text{
  transition: color 1s ease;
}
#author{
  transition: color 1s ease;
}
#new-quote{
  transition: color 1s ease;
}
#tweet-quote{
  transition: color 1s ease;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.buttons{
  display: flex;
  margin-inline:20px;
  justify-content: space-between;
}

