#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#display{
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 1%;
  font-size: 30px;
  height: 70px;
  
  margin: 15px;
  background-color: white;
}
.container{
 background-color: #2C3E50;
 border-radius: 2%;
 width: 40vw;
 height: 75vh;
 padding: 15px;
}
#grid {
  display: grid; 
  padding: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "ac ac ac divide"
    "one two three multiply"
    "four five six subtract"
    "seven eight nine add"
    "zero zero decimal equal"; 
}
#clear { grid-area: ac; background-color: #F1C40F;}
#divide { grid-area: divide; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#multiply { grid-area: multiply; }
#subtract { grid-area: subtract; }
#add { grid-area: add; }
#equals { 
  grid-area: equal;
  background-color: #E74C3C;
 }
#decimal { grid-area: decimal; }
#zero { grid-area: zero; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six; }
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
button{
  height: 11vh;
  font-size: 25px;
}
.number{
  background-color: #ECF0F1;
}
.operator{
  background-color: #3498DB;
}